<html>
  <head> </head>

  <body>
    <div class="">
      <div class="aHl"></div>
      <div id=":vn" tabindex="-1"></div>
      <div
        id=":ug"
        class="ii gt"
        jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."
      >
        <div id=":uh" class="a3s aiL">
          <u></u>
          <div
            style="
              box-sizing: border-box;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                Helvetica, Arial, sans-serif, 'Apple Color Emoji',
                'Segoe UI Emoji', 'Segoe UI Symbol';
              background-color: #ffffff;
              color: #718096;
              height: 100%;
              line-height: 1.4;
              margin: 0;
              padding: 0;
              width: 100% !important;
            "
          >
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                box-sizing: border-box;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                  Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
                  'Segoe UI Emoji', 'Segoe UI Symbol';
                background-color: #edf2f7;
                margin: 0;
                padding: 0;
                width: 100%;
              "
            >
              <tbody>
                <tr>
                  <td
                    align="center"
                    style="
                      box-sizing: border-box;
                      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                        Roboto, Helvetica, Arial, sans-serif,
                        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                    "
                  >
                    <table
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        box-sizing: border-box;
                        font-family: -apple-system, BlinkMacSystemFont,
                          'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                          'Apple Color Emoji', 'Segoe UI Emoji',
                          'Segoe UI Symbol';
                        margin: 0;
                        padding: 0;
                        width: 100%;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            style="
                              box-sizing: border-box;
                              font-family: -apple-system, BlinkMacSystemFont,
                                'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                                'Apple Color Emoji', 'Segoe UI Emoji',
                                'Segoe UI Symbol';
                              padding: 25px 0;
                              text-align: center;
                            "
                          >
                            <a
                              href="#"
                              style="
                                box-sizing: border-box;
                                font-family: -apple-system, BlinkMacSystemFont,
                                  'Segoe UI', Roboto, Helvetica, Arial,
                                  sans-serif, 'Apple Color Emoji',
                                  'Segoe UI Emoji', 'Segoe UI Symbol';
                                color: #3d4852;
                                font-size: 19px;
                                font-weight: bold;
                                text-decoration: none;
                                display: inline-block;
                              "
                              target="_blank"
                              data-saferedirecturl="#"
                            >
                              Notificacion
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td
                            width="100%"
                            cellpadding="0"
                            cellspacing="0"
                            style="
                              box-sizing: border-box;
                              font-family: -apple-system, BlinkMacSystemFont,
                                'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                                'Apple Color Emoji', 'Segoe UI Emoji',
                                'Segoe UI Symbol';
                              background-color: #edf2f7;
                              border-bottom: 1px solid #edf2f7;
                              border-top: 1px solid #edf2f7;
                              margin: 0;
                              padding: 0;
                              width: 100%;
                            "
                          >
                            <table
                              align="center"
                              width="570"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="
                                box-sizing: border-box;
                                font-family: -apple-system, BlinkMacSystemFont,
                                  'Segoe UI', Roboto, Helvetica, Arial,
                                  sans-serif, 'Apple Color Emoji',
                                  'Segoe UI Emoji', 'Segoe UI Symbol';
                                background-color: #ffffff;
                                border-color: #e8e5ef;
                                border-radius: 2px;
                                border-width: 1px;
                                margin: 0 auto;
                                padding: 0;
                                width: 570px;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      box-sizing: border-box;
                                      font-family: -apple-system,
                                        BlinkMacSystemFont, 'Segoe UI', Roboto,
                                        Helvetica, Arial, sans-serif,
                                        'Apple Color Emoji', 'Segoe UI Emoji',
                                        'Segoe UI Symbol';
                                      max-width: 100vw;
                                      padding: 32px;
                                    "
                                  >
                                    <h1
                                      style="
                                        box-sizing: border-box;
                                        font-family: -apple-system,
                                          BlinkMacSystemFont, 'Segoe UI', Roboto,
                                          Helvetica, Arial, sans-serif,
                                          'Apple Color Emoji', 'Segoe UI Emoji',
                                          'Segoe UI Symbol';
                                        color: #3d4852;
                                        font-size: 18px;
                                        font-weight: bold;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      Hola!
                                    </h1>
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        font-family: -apple-system,
                                          BlinkMacSystemFont, 'Segoe UI', Roboto,
                                          Helvetica, Arial, sans-serif,
                                          'Apple Color Emoji', 'Segoe UI Emoji',
                                          'Segoe UI Symbol';
                                        font-size: 16px;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                    El siguiente reporte tiene como la finalidad de llevar el proceso de seguimiento de las importaciones
                                    que se esta realizando en los modulos de estudiante, profesor, curso y calificaciones.
                                    </p>

                                    <h3>Estudiantes</h3>
                                    <li><b>Creados correctamente</b> : {{ estudiantes_creados }}</li>
                                    <li><b>Presentaron error </b> : {{ estudiantes_error }}</li>

                                    <h3>Profesores</h3>
                                    <li><b>Creados correctamente</b> : {{ teacher_creados }}</li>
                                    <li><b>Presentaron error </b> : {{ teacher_error }}</li>

                                    <h3>Cursos</h3>
                                    <li><b>Creados correctamente</b> : {{ course_creados }}</li>
                                    <li><b>Presentaron error </b> : {{ course_error }}</li>

                                    <h3>Calificaciones</h3>
                                    <li><b>Creados correctamente</b> : {{ qualification_creados }}</li>
                                    <li><b>Presentaron error </b> : {{ qualification_error }}</li>
                                                                
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        font-family: -apple-system,
                                          BlinkMacSystemFont, 'Segoe UI', Roboto,
                                          Helvetica, Arial, sans-serif,
                                          'Apple Color Emoji', 'Segoe UI Emoji',
                                          'Segoe UI Symbol';
                                        font-size: 16px;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                        margin-top: 20px;
                                      "
                                    >
                                      Saludos<br />
                                    </p>

                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td
                            style="
                              box-sizing: border-box;
                              font-family: -apple-system, BlinkMacSystemFont,
                                'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                                'Apple Color Emoji', 'Segoe UI Emoji',
                                'Segoe UI Symbol';
                            "
                          >
                            <table
                              align="center"
                              width="570"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="
                                box-sizing: border-box;
                                font-family: -apple-system, BlinkMacSystemFont,
                                  'Segoe UI', Roboto, Helvetica, Arial,
                                  sans-serif, 'Apple Color Emoji',
                                  'Segoe UI Emoji', 'Segoe UI Symbol';
                                margin: 0 auto;
                                padding: 0;
                                text-align: center;
                                width: 570px;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      box-sizing: border-box;
                                      font-family: -apple-system,
                                        BlinkMacSystemFont, 'Segoe UI', Roboto,
                                        Helvetica, Arial, sans-serif,
                                        'Apple Color Emoji', 'Segoe UI Emoji',
                                        'Segoe UI Symbol';
                                      max-width: 100vw;
                                      padding: 32px;
                                    "
                                  >
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        font-family: -apple-system,
                                          BlinkMacSystemFont, 'Segoe UI', Roboto,
                                          Helvetica, Arial, sans-serif,
                                          'Apple Color Emoji', 'Segoe UI Emoji',
                                          'Segoe UI Symbol';
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        color: #b0adc5;
                                        font-size: 12px;
                                        text-align: center;
                                      "
                                    >
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="yj6qo"></div>
            <div class="adL"></div>
          </div>
          <div class="adL"></div>
        </div>
      </div>
      <div id=":vj" class="ii gt" style="display: none">
        <div id=":vi" class="a3s aiL"></div>
      </div>
      <div class="hi"></div>
    </div>
  </body>
</html>
